In [2]:
import pandas as pd

In [3]:
# Задание 1

# Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей,
# которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением
# столбца timestamp для данного значения userId.

ratings = pd.read_csv('ml-latest-small/ratings.csv')#, sep=';')
ratings

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [34]:
hundred_ratings = ratings.groupby('userId').count()
hundred_ratings[(hundred_ratings['movieId'] >= 100.0)].head()

        movieId  rating  timestamp
userId
4           204     204        204
5           100     100        100
8           116     116        116
15         1700    1700       1700
17          363     363        363

In [47]:
# filtered_ratings = filtered_ratings[(filtered_ratings['movieId'] >= 100.0)]
# filtered_ratings

timestamp_ratings = ratings.groupby('userId').agg({'timestamp': ['min', 'max'], 'movieId': 'count'}).reset_index()
# filtered_ratings = filtered_ratings[(filtered_ratings['movieId'] >= 100.0)]
timestamp_ratings

    userId   timestamp             movieId
                   min         max   count
0        1  1260759108  1260759205      20
1        2   835355395   835356246      76
2        3  1298861589  1298932787      51
3        4   949778714   949982274     204
4        5  1163373044  1163375145     100
..     ...         ...         ...     ...
666    667   847271220   847272234      68
667    668   993613196   993613478      20
668    669  1015829081  1015829766      37
669    670   938781328   940944033      31
670    671  1063500751  1074784735     115

[671 rows x 4 columns]

In [48]:
# timestamp_ratings.join(hundred_ratings, on='userId', how='right')
# timestamp_ratings
timestamp_ratings.loc[timestamp_ratings.movieId >= 100.0]

ValueError: Cannot index with multidimensional key