In [3]:
import pandas as pd

In [11]:
# Задание 1**
# Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
# - оценка 2 и меньше - низкий рейтинг
# - оценка 4 и меньше - средний рейтинг
# - оценка 4.5 и 5 - высокий рейтинг

# Результат классификации запишите в столбец class

data_mv = pd.read_csv('ratings.csv')

def rating_check(rating):
    if rating <= 2.0 and rating > 0.0:
        return 'low'
    elif rating <= 4.0 and rating > 2.0:
        return 'average'
    elif rating <= 5.0 and rating > 4.0:
        return 'high'
    else:
        return 'undefined'

data_mv['class'] = data_mv['rating'].apply(rating_check)

data_mv.head(10)

   userId  movieId  rating   timestamp    class
0       1      296     5.0  1147880044     high
1       1      306     3.5  1147868817  average
2       1      307     5.0  1147868828     high
3       1      665     5.0  1147878820     high
4       1      899     3.5  1147868510  average
5       1     1088     4.0  1147868495  average
6       1     1175     3.5  1147868826  average
7       1     1217     3.5  1147878326  average
8       1     1237     5.0  1147868839     high
9       1     1250     4.0  1147868414  average

In [17]:
# Задание 2
# Используем файл keywords.csv.

# Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую
# принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона,
# то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города,
# то ставим ‘undefined’.

# Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

def check_geo(keywords):
    for geo in geo_data:
        for city in geo_data.get(geo):
            if city in keywords:
                return geo
    return 'undefined'

keywords = pd.read_csv('keywords.csv')





# geo_data['keyword'].value_counts().head()

москва
тула
ярославль
петербург
псков
мурманск
владивосток
сахалин
хабаровск